html,body,#wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.chart {
    margin-left: 500px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.factTip{
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
    padding: 0 5px;
}
.factTip p{
    margin: 5px 0;
    color: #fff;
}
.factTip p span{
    margin: 0 5px;
}
.factTip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.7);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
.legend{
    background-color: red;
}